/* Custom styles for the navigation bar */
.custom-navbar {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  background-color: #052c6c;
  padding: 2px 10px; /* Reduced padding to make the bar less thick */
}

.custom-navbar .navbar-brand {
  color: #ffffff;
  font-size: 22px; /* Slightly smaller font size */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-brand img {
  margin-right: 8px; /* Slightly reduced space between logo and text */
}

.custom-navbar .navbar-brand:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Ensure that the navbar links are on the left */
.custom-navbar .navbar-collapse {
  display: flex;
  align-items: center; /* Aligns links vertically center */
  flex-grow: 1; /* Allows the links to expand and take up space */
  justify-content: flex-start; /* Aligns links to the left */
}

.custom-navbar .nav-link {
  color: #ffffff;
  margin-right: 10px;
  text-align: left;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: #10149a;
  transition: all 0.3s ease;
  text-decoration: none !important;
}

.custom-navbar .nav-link:hover {
  color: #10149a !important;
  background-color: #ffffff;
  transform: scale(1.05);
  font-weight: bold;
}

.custom-navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.custom-navbar .navbar-toggler-icon {
  background-image: none;
  color: #fff;
}

.custom-navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  transform: rotate(90deg);
}

.custom-navbar .ms-auto {
  display: none; /* Hide the space on the right for alignment */
}

.logo-nav {
  text-align: left;
}
